apiVersion: v1
kind: Service
metadata:
  name: result
  namespace: voting-app
  labels:
    app: result
    tier: frontend
spec:
  type: ClusterIP
  selector:
    app: result
    
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 5001