apiVersion: v1
kind: Service
metadata:
  name: vote
  namespace: voting-app
  labels:
    app: vote
    tier: frontend
spec:
  type: ClusterIP
  selector:
    app: vote
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 5000