name: Deploy to EKS

on:
  push:
    branches: [main]
    paths:
      - 'vote/**'
      - 'result/**'
      - 'worker/**'
      - 'k8s/**'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build and Push Vote App
      run: |
        ls -la          # See where we are
        cd vote
        ls -la          # See if Dockerfile is here
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/vote:${{ github.sha }} .
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/vote:${{ github.sha }}
        docker tag ${{ secrets.DOCKERHUB_USERNAME }}/vote:${{ github.sha }} ${{ secrets.DOCKERHUB_USERNAME }}/vote:latest
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/vote:latest

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-central-1

    - name: Update Kubeconfig
      run: aws eks update-kubeconfig --name my-first-eks-ahmed --region eu-central-1

    - name: Deploy Vote App
      run: kubectl set image deployment/vote vote=${{ secrets.DOCKERHUB_USERNAME }}/vote:${{ github.sha }} -n voting-app

    - name: Verify Deployment
      run: kubectl rollout status deployment/vote -n voting-app
